{% extends 'base.html.twig' %}

{% block title %} Panier {% endblock %}

{% block body %}
<div>
    <h1>Votre panier</h1>
</div>

<table>

<thead>
    <th>Type</th>
    <th>Titre</th>
    <th>Id</th>
    <th>Quantité</th>
    <th>Prix</th>
</thead>

<tbody>

    {# Purchase #}
    {% for object in objects %}
        <tr>
            {# <td>{{ object.type }}</td> #}
            <td>Achat</td>
            <td>{{ object.titre }}</td>
            <td>{{ object.id_jeu }}</td>
            <td>{{ object.quantite }}</td>
            <td>{{ object.prix }}</td>
        </tr>
    {% endfor %}

    {# Rental #}
    {% for rental_object in rentalObjects %}
        <tr>
            <td>Location</td>
            <td>{{ rental_object.titre }}</td>
            <td>{{ rental_object.id_jeu }}</td>
            <td>{{ rental_object.quantite }}</td>
            <td>{{ rental_object.prix }}</td>
        </tr>
    {% endfor %}
  
</tbody>

</table>

<a class="btn btn-success" href="{{ path('app_validate') }}">Valider le panier</a><br>

{% endblock %}