{% extends 'base.html.twig' %}

{% block title %}Fiche utilisateur{% endblock %}

{% block body %}
    <h1>Fiche utilisateur de {{ user.prenom ~ " " ~ user.nom }}</h1>

    <table class="table table-bordered text-center">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ user.id }}</td>
            </tr>
            <tr>
                <th>E-mail</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <th>Roles</th>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
            </tr>
            <tr>
                <th>Mot de Passe</th>
                <td>{{ user.password }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ user.prenom }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ user.nom }}</td>
            </tr>
            <tr>
                <th>Date de naissance</th>
                <td>{{ user.dateNaissance ? user.dateNaissance|date('d/m/Y') : '' }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ user.address}}</td>
            </tr>
            <tr>
                <th>Ville</th>
                <td>{{ user.city}}</td>
            </tr>
            <tr>
                <th>Code Postale</th>
                <td>{{ user.zipCode}}</td>
            </tr>
            <tr>
                <th>Numéro de téléphone</th>
                <td>{{ user.phone}}</td>
            </tr>
            <tr>
                <th>Inscription à la newsletter</th>
                <td>{{ user.inscriptionNewsletter }}</td>
            </tr>
        </tbody>
    </table>

    

    <a class="btn btn-info" href="{{ path('app_admin_user_edit', {'id': user.id}) }}">Modifier</a><br>

    {{ include('admin/user/_delete_form.html.twig') }}<br>

    <a class="btn btn-secondary" href="{{ path('app_admin_user_index') }}">Retourner à la liste</a>
{% endblock %}
