{% extends 'base.html.twig' %}

{% block title %}Affichage des jeux{% endblock %}

{% block body %}
<div class="row">
    <div class="col-3">
        <div class="col-12">
        <form action="" method="GET">
            <div class="text-center">
                <h3>Filtres</h3>
            </div>
            <div>
                <h4>Jeux</h4>
                <ul>
                    {% for cat in categories %}
                    <li><input type="checkbox" name="{{cat}}"> {{cat}}</li>
                    {% endfor %}
                </ul>
            </div>

            <div>
                <h4>Tranche d'âge</h4>
                <ul>
                    <li><input type="checkbox"> 0/3</li>
                    <li><input type="checkbox"> 4/6</li>
                    <li><input type="checkbox"> 7/9</li>
                    <li><input type="checkbox"> 10/12</li>
                    <li><input type="checkbox"> 13/15</li>
                    <li><input type="checkbox"> 15 ans et plus</li>
                </ul>
            </div>

            <div>
            <h4>Nombre de joueurs</h4>
            <ul>
                <li><input type="checkbox"> 1</li>
                <li><input type="checkbox"> 2</li>
                <li><input type="checkbox"> 3</li>
                <li><input type="checkbox"> 4</li>
                <li><input type="checkbox"> 5</li>
                <li><input type="checkbox"> 6 et +</li>
            </ul>
            </div>

            <div>
                <h4>Temps de jeu</h4>
                <ul>
                    <li><input type="checkbox"> moins de 15 minutes</li>
                    <li><input type="checkbox"> 30 minutes</li>
                    <li><input type="checkbox"> 45 minutes</li>
                    <li><input type="checkbox"> 60 minutes</li>
                    <li><input type="checkbox"> 90 minutes</li>
                    <li><input type="checkbox"> 120 minutes</li>
                    <li><input type="checkbox"> 140 minutes</li>
                </ul>
            </div>
        </form>
        </div>
    </div>
    <div class="col-9 card-columns">
            {% for game in games %}
                {% if game.picture is empty%}
            
                {% else %}
                    <div class="card text-center" style="width: 18rem;">
                        {% for picture in game.picture %}
                            <a href="{{path('app_onegame', {'id': game.id})}}"><img src="{{ '/images/' ~ picture.name }}" alt="{{ picture.name }}" class="card-img-top" style="height: 18rem;"></a>
                        {% endfor %}
                        <div class="card-body row">
                            <h5 class="card-title col-12"><a href="{{path('app_onegame', {'id': game.id})}}"><strong> {{ game.title }}</strong></a></h5>
                            <div class="col-6"><a href="#" class="btn btn-primary"> Louer</a><div>{{ game.rentalPrice }} €</div></div>
                            
                            <div class="col-6"><a href="{{path('app_cart_add', {'id': game.id})}}" class="btn btn-primary"> Acheter</a><div>{{ game.sellingPrice }} €</div></div>
                        </div>
                    </div> 
                {% endif %}
            {% endfor %}
    </div>
</div>

{% endblock %}