{% extends 'base.html.twig' %}

{% block title %}Abonnements{% endblock %}

{% block body %}
    <br><br><br>
    <blockquote class="blockquote text-center">
        <h1 class="h1-abonnement">Nos abonnements</h1>
        </blockquote>
        <br><br>
<div class="container">
    <div class="row justify-content-around">
{% for sub in subscriptions %}

        <div class="card" style="width: 18rem;">
            <div class="card-body">
            <p class="card-text">Formule : {{ sub.title }} </p>
            <p class="card-text">Nombre de jeux à louer : {{ sub.gamesNumber }} </p>
            <p class="card-text">Prix : {{ sub.price }} €</p>
            <p class="card-text">Valable : {{ sub.newDuration }} mois</p>
            <p class="card-text">Frais de livraison : {{ sub.shippingCost }} € </p>
            <p class="card-text">Description : {{ sub.description }} </p>
            </div>
            <a class="btn btn-info" href="{{ path('app_user_subscription_insert', {idSub: sub.id}) }}">Je m'abonne</a>
        </div>
        
    
{% endfor %}
    </div>

    <div class="row mt-5 mb-5 d-flex justify-content-center B">
        <div class="col-md-10">
            <h2>Notre système de livraison<h2><br>
            <p class="text-livraison"> Polux vous assure une livraison gratuite toute l'année ! Sous un délai de quatre jours ouvrés, vous recevrez un colis réutilisable pour le renvoi. Vous y trouverez vos jeux selectionnés. Nous l'enverrons à l'adresse renseignée dans votre fiche inscription.
            </p>
            <p class="text-livraison">Ce colis contiendra aussi un formulaire avec les photos et le détail du matériel des jeux. A l'échéance de votre abonnement, vous devrez cocher les cases du formulaire afin de vérfifier que tout le matériel soit retourné en bon état.  
            </p>
            <p class="text-livraison">Pour retourner le colis à la date du dernier jour de votre abonnement, rien de plus simple : dans votre espace, vous pourrez cocher la case "retourner mon colis", un e-mail nous sera automatiquement envoyé. Vous deposerez ensuite le colis dans votre boîte aux lettres, celui-ci sera récupéré sous 48h. Notre équipe se fera un plaisir de vous confirmer sa bonne réception par e-mail puis de nettoyer soigneusement chaque pièce des jeux!
            </p>
            <p class="text-livraison-sm">*** voir la rubrique CGU de notre site pour tout défaut lors du retour d'un jeu</p>
        </div>
    <div>
</div>
<br><br>

{% endblock %}
