{% extends 'base.html.twig' %}

{% block title %}Abonnements{% endblock %}

{% block body %}

{% for sub in subscriptions %}

<div>
    <ul>
        <li>Title : {{ sub.title }} </li>
        <li>Numméro de jeu : {{ sub.gamesNumber }} </li>
        <li>Prix : {{ sub.price }} </li>
        <li>Nouvelle validité de l'abonnement : {{ sub.newDuration }} </li>
        <li>Frais de livraison : {{ sub.shippingCost }} </li>
        <li>Description : {{ sub.description }} </li>
    </ul>
</div>

<hr>
    
{% endfor %}

{% endblock %}
