{% extends 'base.html.twig' %}

{% block title %}Affichage des jeux{% endblock %}

{% block body %}

{% for game in games %}

<div>
    <ul>
        <li><a href="{{path('app_onegame', {'id': game.id})}}">Nom du jeu : {{ game.title }}</a></li>
        <li>Photos du jeu : 
            {% for picture in game.picture %}
                <img src="{{ '/images/' ~ picture.name }}" alt="{{ picture.name }}" height="90px">
            {% endfor %}
        </li>
        <li>Prix de location : {{ game.rentalPrice }}</li>
        <li>Prix de vente : {{ game.sellingPrice }}</li>
    </ul>
</div>

<hr>
    
{% endfor %}

{% endblock %}