{% extends 'base.html.twig' %}

{% block title %}Affichage des jeux{% endblock %}

{% block body %}

           
    <div class="row">
        <section class="panel col-12">
            <h4 class="pro-d-title">
                <h2>
                    <strong>{{ game.title }}</strong>
                </h2>
            </h4><br>
            <div class="panel-body d-flex">
                <div class="col-md-6">
                    <div class="pro-img-details">
                    {% for picture in game.picture %}
                        <img src="{{ '/images/' ~ picture.name }}" alt="{{ picture.name }}" style="height: 450px; width:500px">
                    {% endfor %}
                    </div>
                </div>
        
                <div class="col-md-6">
                    <div class="col-md-12">
                        <div class="form-group">
                            <div>
                                <span>
                                    <strong>Prix TTC : {{ game.sellingPrice }} €</strong>
                                </span>
                            </div>
                        </div>
                        
                        
                    </div>
                    <p class="product_meta">
                        {{ game.description }}
                    </p>
                    <div class="m-bot15">
                    {% for cate in game.category %}
                    
                        <span class="posted_in"> <strong>Categorie :</strong> <a rel="tag" href="#">{{cate.name}}</a></span>
                    {% endfor %}
                    </div><br>

                    <div class="m-bot15"> <strong>Tranche d'age :</strong> <span class="amount">{{ game.age }}</span> </div><br>
                    <div class="m-bot15"> <strong>Nombre de joueurs :</strong> <span class="amount">{{ game.nbPlayers }}</span> </div><br>
                    <div class="m-bot15"> <strong>Temps du jeu :</strong> <span class="amount">{{ game.playTime }}</span> </div><br>
                    <div class="m-bot15"> <strong>Matériaux :</strong> <span class="amount">{{ game.material }}</span> </div>
                    <p>
                        {# <div class="col-md-12">
                        <button class="btn btn-round btncolor" type="submit" style="background-color: #b5179e; color: white;">Acheter</button>
                        <button class="btn btn-round btn-info" type="submit">Louer</button> #}

                        {% if app.user %}
                            <div class="col-md-12">
                                <a href="{{path('app_cart_add', {'id': game.id, 'str': 'renting'} )}}" class="btn btn-info btn-round" > Louer</a>
                                <a href="{{path('app_cart_add', {'id': game.id, 'str': 'purchase'} )}}" class="btn" style="background-color: #b5179e; color: white;"> Acheter</a>
                            </div>
                        {% else %}
                            <div class="col-md-12">
                                <a href="{{path('app_login')}}" class="btn btn-info btn-round" > Louer</a>
                                <a href="{{path('app_login')}}" class="btn" style="background-color: #b5179e; color: white;"> Acheter</a>
                            </div>
                        {% endif %}
                    </div>
                    </p>
                </div>
            </div>
        </section>
    </div><br><hr><br><br>
<h2 class="text-center">Nos suggestions de jeux pour vous</h2><br>
<div class="col-12 container-fluid d-flex flex-wrap justify-content-around">
    {% for games in stock %}
        <div class="col-4 mt-4">
            <div class="card">
                {% for picture in games.picture %}
                <a href="{{ path('app_onegame', { id:games.id } )}}"><img class="card-img-top" src="{{ '/images/' ~ picture.name }}" style="height: 16rem" alt="Card image cap"></a> 
                {% endfor %}
                <div class="card-body">
                    <h5 class="card-title text-center"><a href="{{ path('app_onegame', { id:games.id } )}}">{{games.title}}</a></h5>
                    {# <p class="card-text">Ceci est le train enchantté</p>
                    <p class="card-text"><small class="text-muted"></small></p> #}
                </div>
            </div>
        </div>
    {% endfor %}
</div><br><br>

{% endblock %}
