{{ form_start(form) }}
    {{ form_widget(form) }}
    {# {{form_errors('Veuillez choisir une photo')}} #}
    <button class="btn">{{ button_label|default('Enregistrer') }}</button>
{{ form_end(form) }}
