{% extends 'base.html.twig' %}

{% block title %}Modifier la photo n°{{picture.id}}{% endblock %}

{% block body %}
    <h1>Modifier la photo n°{{picture.id}}</h1>

    {{ include('admin/picture/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_admin_picture_index') }}"><button class="btn">{{ button_label|default('Retour à la liste') }}</button></a>

    {{ include('admin/picture/_delete_form.html.twig') }}
{% endblock %}
