{% extends 'base.html.twig' %}

{% block title %}Liste des photos{% endblock %}

{% block body %}
    <h1>Liste des photos</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom du jeu associé</th>
                <th>Photo</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for picture in pictures %}
            <tr>
                <td>{{ picture.id }}</td>
                <td>{{picture.game ? picture.game.title : ''}}</td>
                <td><img src="{{ '/images/' ~ picture.name }}" alt="{{picture.name}}" height="200px"></td>
                <td>
                    <a href="{{ path('app_admin_picture_show', {'id': picture.id}) }}"><button class="btn">{{ button_label|default('Voir la photo') }}</button></a><br>
                    <a href="{{ path('app_admin_picture_edit', {'id': picture.id}) }}"><button class="btn">{{ button_label|default('Modifier la photo') }}</button></a>
                    {{ include('admin/picture/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Aucune photo trouvée</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_admin_picture_new') }}"><button class="btn">{{ button_label|default('Ajouter une photo') }}</button></a>
{% endblock %}
