{% extends 'base.html.twig' %}

{% block title %}Picture index{% endblock %}

{% block body %}
    <h1>Picture index</h1>

    <table class="table table-bordered text-center">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom du jeu</th>
                <th>Photo</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {# dans la class picture ont veut un truc une donnée/ propriété. #}
        {% for picture in pictures %} 
            <tr>
                <td>{{ picture.id }}</td>
                {# creation d'une ternaire car si un jeu n'a pas de titre, doit indiquer une erreur. #}
                <td><strong>{{ picture.game ? picture.game.title : "aucun jeu" }}</strong></td>  
               
                <td><img src="{{ '/images/'~ picture.name }}" alt="{{ picture.id }}" width="100px" height="100px"></td>
                {# <td><img src="{{'/images/' ~ picture.name }}" alt="" height="100px"></td>  #}

                <td>
                    <a href="{{ path('app_admin_picture_show', {'id': picture.id}) }}"><i class="fa fa-user"></i></a>

                    <a href="{{ path('app_admin_picture_edit', {'id': picture.id}) }}"><i class="fa fa-edit"></i></a>

                    <a href="{{ path('app_admin_picture_delete', {'id': picture.id}) }}"><i class="fa-solid fa-trash-can"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Pas de photo trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_admin_picture_new') }}"><button class="btn btn-info">{{ button_label|default('Ajouter une photo') }}</button></a><br><br>
{% endblock %}
