{% extends 'base.html.twig' %}

{% block title %}Photo n°{{ picture.id }}{% endblock %}

{% block body %}
    <h1>Photo n°{{ picture.id }}</h1>

    <table class="table table-bordered text-center">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ picture.id }}</td>
            </tr>
            <tr>
                <th>nom du jeu associé à la photo</th>
                <td><strong>{{ picture.game ? picture.game.title : "aucun jeu" }}</strong></td>
            </tr>
            <tr>
                <th>Photo</th>
                <td><img src="{{ '/images/' ~ picture.name }}" alt="{{picture.name}}"></td>
            </tr>
        </tbody>
    </table>

        <a class="btn btn-info" href="{{ path('app_admin_picture_edit', {'id': picture.id}) }}">Modifier</a><br><br>

        {{ include('admin/picture/_delete_form.html.twig') }}<br>

        <a class="btn sm-btn btn-secondary" href="{{ path('app_admin_picture_index') }}">Retourner à la liste</a>
    
{% endblock %}
