{% extends 'base.html.twig' %}

{% block title %}Photo{% endblock %}

{% block body %}
    <h1>Photos</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ picture.id }}</td>
            </tr>
            <tr>
                <th>nom</th>
                {# meme ternaire que dans le index #}
                <td>{{ picture.game ? picture.game.title : "aucun jeu" }}</td>
            </tr>
            <tr>
            {# permet d'afficher les photos #}
                <th>Photo</th>
                <td><img src="{{ '/images/' ~ picture.name }}" alt="{{picture.name}}" height="200px"></td>
                <td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_admin_picture_index') }}"><button class="btn">{{ button_label|default('Retourner à la liste') }}</button></a><br>
    

    <a href="{{ path('app_admin_picture_edit', {'id': picture.id}) }}"><button class="btn">{{ button_label|default('Modifier la photo') }}</button></a>

    {{ include('admin/picture/_delete_form.html.twig') }}
{% endblock %}
