{% extends 'base.html.twig' %}

{% block title %}Photo n°{{picture.id}}{% endblock %}

{% block body %}
    <h1>Photo n°{{picture.id}}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ picture.id }}</td>
            </tr>
            <tr>
                <th>Nom du jeu associé</th>
                <td>{{picture.game ? picture.game.title : ''}}</td>
            </tr>
            <tr>
                <th>Photo</th>
                <td><img src="{{ '/images/' ~ picture.name }}" alt="{{picture.name}}" height="200px"></td>
                <td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_admin_picture_index') }}"><button class="btn">{{ button_label|default('Retour à la liste') }}</button></a><br>

    <a href="{{ path('app_admin_picture_edit', {'id': picture.id}) }}"><button class="btn">{{ button_label|default('Modifier') }}</button></a>

    {{ include('admin/picture/_delete_form.html.twig') }}
{% endblock %}
