{% extends 'base.html.twig' %}

{% block title %}Index de la catégorie{% endblock %}

{% block body %}
    <h1>index de la catégorie</h1>

    <table class="table table-bordered text-center">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for category in categories %}
            <tr>
                <td>{{ category.id }}</td>
                <td><STRONG>{{ category.name }}<STRONG></td>
                <td class="text-center">
                    <a href="{{ path('app_admin_category_show', {'id': category.id}) }}"><i class="fa fa-user"></i></a>

                    <a href="{{ path('app_admin_category_edit', {'id': category.id}) }}"><i class="fa fa-edit"></i></a>

                    <a href="{{ path('app_admin_category_delete', {'id': category.id}) }}"><i class="fa-solid fa-trash-can"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Pas de catégorie trouvée</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_admin_category_new') }}"><button class="btn btn-info">{{ button_label|default('Ajouter une catégorie') }}</button></a><br><br>
{% endblock %}
