{% extends 'base.html.twig' %}

{% block title %}Categorie {{ category.name }} {% endblock %}

{% block body %}
    <h1>Categorie {{ category.name }}</h1>

    <table class="table table-bordered text-center">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ category.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td><STRONG>{{ category.name }}</STRONG></td>
            </tr>
        </tbody>
    </table>

        

        <a href="{{ path('app_admin_category_edit', {'id': category.id}) }}"><button class="btn btn-info">{{ button_label|default('Modifier') }}</button></a><br><br>

        {{ include('admin/category/_delete_form.html.twig') }}<br>

        <a href="{{ path('app_admin_category_index') }}"><button class="btn btn-secondary">{{ button_label|default('Retourner à la liste') }}</button></a>
{% endblock %}
