<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        <link rel="preconnect" href="https://fonts.googleapis.com"> 
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
        <link href="https://fonts.googleapis.com/css2?family=Butterfly+Kids&family=Montserrat&family=Rubik+Puddles&family=Sacramento&display=swap" rel="stylesheet">
	    <link rel="icon" href="{{ '/images/' ~ ('téléchargement.png') }}" type="image/x-icon" src="" >
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
       
        {% block stylesheets %}

            {{ encore_entry_link_tags('app') }}

            


{# 
            <link rel="stylesheet" 
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" 
            integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" 
            crossorigin="anonymous">

            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />  #}

        <style>
            /* ul,li{
                list-style-type: none;
                display: flex;
                padding: 7px 15px;
                color: #6D8299;
                background-color:  #ABCDCB;
            }

            body{
                background-color: #ABCDCB;
                font-family: 'Montserrat', sans-serif;
                font-size: 16px;
                color: #6D8299;
            }

            h1{
                font-family: 'Sacramento', cursive;
                font-size: 64px;
                color: #00AFC1;
                font-weight: bold;
            } */
        </style>

            {{ encore_entry_link_tags('app') }}
        {% endblock %}
        

        
       
        {% block javascripts %} 
            {{ encore_entry_script_tags('app') }} 
        {% endblock %}
        
        
       
    
    </head>
    <body>
        {{ include("header.html.twig") }}
        {{ include("menu.html.twig") }}
        {% block container %}
        <div class="container">
        {% endblock %}
        {% block body %}
        
        {% endblock %}

        {% block div %}
        </div>
        {% endblock %}

        {{ include("parties/footer.html.twig") }}

	 </body>
   </html>
