<!-- Footer -->
<footer class="text-center text-lg-start bg-light text-muted mt-5">
  <!-- Section: Social media -->
  <section>
   
  <!-- Right -->
    
    <!-- Right -->
  </section>
  <!-- Section: Social media -->
  
  <!-- Section: Links  -->
  <section class="">
    <div class="container-fluid text-center text-md-start mt-2 pt-3">
      
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-2 mx-5 col-lg-2 col-xl-2 my-auto">
          <form class="form-inline my-2 my-lg-0" action="#">
    <input name="search" class="form-control mr-sm-2" type="search" placeholder="Rechercher" aria-label="Search">
    <button class="btn btn-outline-info btn-sm my-2 my-sm-0" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
  </form> 
 
      </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          
          <p>
            <a href="{{ path('app_cgv') }}" class="text-reset">CGV / CGU</a>
          </p>
          <p>
            <a href="{{ path('app_mentions_legales') }}" class="text-reset">Mentions légales</a>
          </p>
          <p>
            <a href="{{ path('app_pdc') }}" class="text-reset">Politique de confidentialité</a>
          </p>
          <p>
            Services clients
          </p>
          <p>
            <a href="{{ path('app_recrutement') }}" class="text-reset">Recrutement</a>
          </p>
          <p>
            <a href="{{ path('app_faq') }}" class="text-reset">FAQ</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          
          <p>
            <a href="{{ path('app_contact') }}" class="text-reset">Contactez-nous</a>
          </p>
          <p>
            <a href="{{ path('app_label_qualite') }}" class="text-reset">Label qualité</a>
          </p>
          <p>
            <a href="{{ path('app_home') }}" class="text-reset">Polux</a>
          </p>
          <p>
            <a href="{{ path('app_display_game') }}" class="text-reset">Nos jeux</a>
          </p>
          <p>
            Avis clients
          </p>
          <p>
            Newsletter
          </p>

         
         
         
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Contact
          </h6>
          <p><i class="fas fa-home me-3"></i> Paris, France</p>
          <p>
            <a href="mailto:">
            <i class="fas fa-envelope me-3"></i>
            Polux@gmail.com</a>
          </p>
          <p><i class="fas fa-phone me-3"></i> + 01 06 01 20 22</p>
          <a href="" class="me-4 text-reset">
            <i class="fab fa-cc-visa"></i>
          </a>
          <a href="" class="me-4 text-reset">
            <i class="fa-brands fa-cc-mastercard"></i>
          </a>
          <a href="" class="me-4 text-reset">
            <i class="fa-brands fa-cc-amex"></i>
          </a>
          <a href="" class="me-4 text-reset">
            <i class="fa-brands fa-paypal"></i>
          </a>
          
        </div>

       

       
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->

  <!-- Copyright -->
  
    © 2022 Copyright
    <a class="text-reset fw-bold" href="https://mdbootstrap.com/"></a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
    </body>
</html>