<nav>
    <div>
        <span>Affichage client :</span>
        <ul>
            <li >Accueil</li>
            <li>Meilleurs Jeux</li>
           

            {% if is_granted("ROLE_USER") %}
            
           
            <li>Contact</li>
            <li><a href="{{ path('app_profil_index') }}">Mon espace</a></li>
            <li><a href="{{ path('app_logout') }}">Se déconnecter</a></li>

            {% else %}

                <li> <a href="{{ path('app_register') }}">Inscription</a></li>
                <li><a href="{{ path('app_login') }}">Se connecter</a></li>

            {% endif %}


            
 
        </ul>

        <ul>
            <li><a href="{{ path('app_display_subscription') }}">Abonnements</a></li>
        </ul>

        <ul>
            <li><a href="{{ path('app_display_game') }}">Nos jeux</a></li>
        </ul>
    </div>
    
    <div>
        {% if is_granted("ROLE_ADMIN") %}
        <span>Back office :</span>
        <div class="container_admin">
            <ul>
                
                    <li><a href="{{ path('app_admin_user_index') }}">GESTION ADMIN</a></li>
                  
                <li><a href="{{ path('app_admin_category_index') }}">Liste des catégories</a></li>
                <li><a href="{{ path('app_admin_category_new') }}">Ajouter une catégorie</a></li>
                <li><a href="{{ path('app_admin_game_index') }}">Liste des jeux</a></li>
                <li><a href="{{ path('app_admin_game_new') }}">Ajouter un jeu</a></li>
                <li><a href="{{ path('app_admin_picture_index') }}">Liste des images</a></li>
                <li><a href="{{ path('app_admin_picture_new') }}">Ajouter une image</a></li>
            </ul>

            <ul>
                <li><a href="{{ path('app_admin_discount_index') }}">Liste des discount</a></li>
                <li><a href="{{ path('app_admin_discount_new') }}">Ajouter un discount</a></li>
                <li><a href="{{ path('app_admin_subscription_index') }}">Liste des abonnements</a></li>
                <li><a href="{{ path('app_admin_subscription_new') }}">Ajouter un abonnement</a></li>
            
            </ul>
        </div>
    {% endif %}
    </div>
</nav>
