<nav class=" colornav navbar navbar-expand-lg">
  {# <nav class=" navbar navbar-expand-lg navbar-light bg-light"> #}
  <a class=" navbar-brand colortext" href="{{ path('app_login') }}">Bienvenue chez Polux</a>
  {% if app.user %}
    <li class="navbar-brand">
      <a class="nav-link colortext">{{app.user.prenom}}</a>
    </li>
  {% endif %}
  {# <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button> #}

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
           
            <li class="nav-item">
                <a class="nav-link colortext" href="{{ path('app_home') }}">Accueil</a>
            </li>

            <li class="nav-item">
                <a class="nav-link colortext" href="{{ path('app_display_game') }}">Nos jeux</a>
            </li>

            <li class="nav-item">
                <a class="nav-link colortext" href="{{ path('app_display_game') }}">Meilleurs Jeux</a>
            </li>

            <li class="nav-item">
                <a class="nav-link colortext" href="{{ path('app_display_subscription') }}">Abonnements</a>
            </li>

            <li class="nav-item">
              <a class="nav-link colortext" href="{{ path('app_contact') }}">Contact</a>
          </li>
	  
	      
            {% if is_granted("ROLE_USER") %}
            
                <li class="nav-item">
                    <a class="nav-link colortext" href="{{ path('app_logout') }}"><i class="fa fa-sign-out"></i></a>
                </li>

            {% else %}

                <li class="nav-item">
                    <a class="nav-link colortext" href="{{ path('app_register') }}"><i class="fa fa-user-plus"></i></a>
                </li>

                
                <li class="nav-item">
                    <a class="nav-link colortext" href="{{ path('app_login') }}"><i class="fa fa-sign-in"></i></a>
                </li>

            {% endif %}

            {# <form class="form-inline my-2 my-lg-0" action="#">
                <input name="search" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-info btn-sm my-2 my-sm-0" type="submit">Rechercher</button>
            </form>  #}

    </div>
</nav>
   
        {% if is_granted("ROLE_ADMIN") %}

  <nav class=" colornav2 navbar navbar-expand-lg ">
    <a class=" navbar-brand colortext" href="{{ path('app_login') }}">Bienvenue Admin</a>
  {# {% if app.user %}
    <li class="navbar-brand">
      <a class="nav-link colortext">{{app.user.prenom}}</a>
    </li>
  {% endif %} #}
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">



            <li class="nav-item">
                <a class="nav-link colortext" href="{{ path('app_admin_user_index') }}">Gestion Membres</a>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link colortext dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Gestion Jeux
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item colortext" href="{{ path('app_admin_game_index') }}">Liste des jeux</a>
                  <a class="dropdown-item colortext" href="{{ path('app_admin_game_new') }}">Ajouter un jeu</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item colortext" href="{{ path('app_admin_picture_index') }}">Liste des images</a>
                  <a class="dropdown-item colortext" href="{{ path('app_admin_picture_new') }}">Ajouter une image</a>
                  <a class="dropdown-item colortext" href="{{ path('app_admin_category_index') }}">Liste des catégories</a>
                  <a class="dropdown-item colortext" href="{{ path('app_admin_category_new') }}">Ajouter une catégorie</a>
                </div>
              </li>

              <li class="nav-item dropdown">
                <a class="nav-link colortext dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Gestion Abonnements
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item colortext" href="{{ path('app_admin_subscription_index') }}">Liste des abonnements</a>
                  <a class="dropdown-item colortext" href="{{ path('app_admin_subscription_new') }}">Ajouter un abonnement</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item colortext" href="{{ path('app_admin_discount_index') }}">Liste des réductions</a>
                  <a class="dropdown-item colortext" href="{{ path('app_admin_discount_new') }}">Ajouter une réduction</a>
                </div>
              </li>
           
              </ul>
              {# <form class="form-inline my-2 my-lg-0" action="#">
                <input name="search" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-info btn-sm my-2 my-sm-0" type="submit">Rechercher</button>
              </form>        #}
    {% endif %}
      </ul>
    </div>
  </nav><br><br>
 
