{% extends 'base.html.twig' %}

{% block title %}Index des abonnements{% endblock %}

{% block body %}
    <h1>Liste des abonnements</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Nombre de jeux</th>
                <th>Prix</th>
                <th>Nouvelle durée</th>
                <th>Frais de livraison</th>
                <th>Description</th>
                <th>Réduction</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for subscription in subscriptions %}
            <tr>
                <td>{{ subscription.id }}</td>
                <td>{{ subscription.title }}</td>
                <td>{{ subscription.gamesNumber }}</td>
                <td>{{ subscription.price }}</td>
                <td>{{ subscription.newDuration }}</td>
                <td>{{ subscription.shippingCost }}</td>
                <td>{{ subscription.description }}</td>
                <td>{{ subscription.discount ? subscription.discount.type : "Pas de discount" }}</td>
                <td>
                    <a href="{{ path('app_admin_subscription_show', {'id': subscription.id}) }}"><i class="fa fa-user"></i></a>
                    <a href="{{ path('app_admin_subscription_edit', {'id': subscription.id}) }}"><i class="fa fa-edit"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">Pas d'enregistrement trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-info" href="{{ path('app_admin_subscription_new') }}">Créer un nouvel abonnement</a>
{% endblock %}
