{% extends 'base.html.twig' %}

{% block title %}Liste des jeux{% endblock %}

{% block body %}
    <h1>Liste des jeux</h1>

   
        <table class="table table-bordered text-center">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Titre</th>
                    <th>Prix de location</th>
                    <th>Prix de vente</th>
                    <th>Categorie</th>
                    <th>Tranche d'âge</th>
                    <th>Nombre de joueurs</th>
                    <th>Temps d'une partie</th>
                    <th>Materiaux</th>
                    <th>Description</th>
                    <th>Stock</th>
                    <th>Note</th>
                    <th>photo du jeu</th>
                    <th>actions</th>
                </tr>
            </thead>
            <tbody>
            {% for game in games %}
                <tr>
                    <td>{{ game.id }}</td>
                    <td><strong>{{ game.title }}</strong></td>
                    <td>{{ game.rentalPrice }}</td>
                    <td>{{ game.sellingPrice }}</td>
                    {% for cate in game.category %}
                        <td>{{cate.name}}</td>
                    {% else %}
                        <td>Pas de catégorie, veuillez en ajouter une</td>
                    {% endfor %}
                    <td>{{ game.age }}</td>
                    <td>{{ game.nbPlayers }}</td>
                    <td>{{ game.playTime }}</td>
                    <td>{{ game.material }}</td>
                    <td>{{ game.description }}</td>
                    <td>{{ game.stock }}</td>
                    <td>{{ game.grade }}</td>
                    {% for picture in game.picture %}
                        <td><img src="{{ asset('images/' ~ picture.name) }}" alt="{{picture.name}}" height="90px"></td>
                    {% else %}
                        <td>Pas de photo, veuillez en ajouter une pour afficher ce jeu dans "Nos jeux"</td>
                    {% endfor %}
                    <td>
                        <a href="{{ path('app_admin_game_show', {'id': game.id}) }}"><i class="fa fa-user"></i></a>

                        <a href="{{ path('app_admin_game_edit', {'id': game.id}) }}"><i class="fa fa-edit"></i></a>

                        <a href="{{ path('app_admin_game_delete', {'id': game.id}) }}"><i class="fa-solid fa-trash-can"></i></a>
                    </td>
                    
                    
                </tr>
            {% else %}
                <tr>
                    <td colspan="12">aucun jeu trouvé</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    

    <a class="btn btn-info" href="{{ path('app_admin_game_new') }}">Ajouter un nouveau jeu</a>
{% endblock %}