{% extends 'base.html.twig' %}

{% block title %}Jeu "{{ game.title }}"{% endblock %}

{% block body %}
    <h1>Jeu "{{ game.title }}"</h1>

    <table class="table table-bordered text-center">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ game.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td><strong>{{ game.title }}</strong></td>
            </tr>
            <tr>
                <th>Prix à la location</th>
                <td>{{ game.rentalPrice }}</td>
            </tr>
            <tr>
                <th>Prix de vente</th>
                <td>{{ game.sellingPrice }}</td>
            </tr>
            <tr>
                <th>Categorie</th>
                {% for cat in game.category %}
                    <td>{{ cat.name }}</td>
                {% endfor %}
            <tr>
                <th>Age</th>
                <td>{{ game.age }}</td>
            </tr>
            <tr>
                <th>Nb de joueur</th>
                <td>{{ game.nbPlayers }}</td>
            </tr>
            <tr>
                <th>Durée du jeu</th>
                <td>{{ game.playTime }}</td>
            </tr>
            <tr>
                <th>Material</th>
                <td>{{ game.material }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ game.description }}</td>
            </tr>
            <tr>
                <th>Stock</th>
                <td>{{ game.stock }}</td>
            </tr>
            <tr>
                <th>Note</th>
                <td>{{ game.grade }}</td>
            </tr>
            <tr>
                <th>Photo</th>
                {% for picture in game.picture %}
                    <td><img src="{{ '/images/' ~ picture.name }}" alt="{{picture.name}}"></td>
                {% else %}
                    <td>Pas encore de photo, veuillez en ajouter une</td>

                {% endfor %}
            </tr>
        </tbody>
    </table>

    <div class="row">
        <a class="btn sm-btn btn-secondary" href="{{ path('app_admin_game_index') }}">Retourner à la liste</a><br>

        <a class="btn btn-info" href="{{ path('app_admin_game_edit', {'id': game.id}) }}">Modifier</a>

        {{ include('admin/game/_delete_form.html.twig') }}
    </div>
{% endblock %}
