{% extends 'base.html.twig' %}

{% block title %}Fiche du jeu <strong>{{game.title}}</strong>{% endblock %}

{% block body %}
    <h1>Fiche du jeu <strong>{{game.title}}</strong></h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ game.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ game.title }}</td>
            </tr>
            <tr>
                <th>Prix de location</th>
                <td>{{ game.rentalPrice }}</td>
            </tr>
            <tr>
                <th>Prix de vente</th>
                <td>{{ game.sellingPrice }}</td>
            </tr>
            <tr>
                <th>Catégorie</th>
                {% for cate in game.category %}
                    <td>{{cate.name}}</td>
                {% endfor %} 
            </tr>
            <tr>
                <th>Tranch d'âge</th>
                <td>{{ game.age }}</td>
            </tr>
            <tr>
                <th>Nombre de joueurs</th>
                <td>{{ game.nbPlayers }}</td>
            </tr>
            <tr>
                <th>Temps de jeu</th>
                <td>{{ game.playTime }}</td>
            </tr>
            <tr>
                <th>Materiaux</th>
                <td>{{ game.material }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ game.description }}</td>
            </tr>
            <tr>
                <th>Stock</th>
                <td>{{ game.stock }}</td>
            </tr>
            <tr>
                <th>Note</th>
                <td>{{ game.grade }}</td>
            </tr>
            <tr>
                <th>Photos des jeux</th>
                {% for picture in game.picture %}
                    <td><img src="{{ '/images/' ~ picture.name }}" alt="{{picture.name}}" height="100px"></td>
                <td>
                {% endfor %}
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_admin_game_index') }}"><button class="btn">{{ button_label|default('Retour à la liste') }}</button></a>

    <a href="{{ path('app_admin_game_edit', {'id': game.id}) }}"><button class="btn">{{ button_label|default('Modifier le jeu') }}</button></strong></a>

    {{ include('admin/game/_delete_form.html.twig') }}
{% endblock %}
