{% extends 'base.html.twig' %}

{% block title %}Discount index{% endblock %}

{% block body %}
    <h1>Liste des réductions</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Type</th>
                <th>Validité</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for discount in discounts %}
            <tr>
                <td>{{ discount.id }}</td>
                <td>{{ discount.type }}</td>
                <td>{{ discount.validity }}</td>
                <td>{{ discount.description }}</td>
                <td>
                    <a href="{{ path('app_admin_discount_show', {'id': discount.id}) }}"><i class="fa fa-user"></i></a>
                    <a href="{{ path('app_admin_discount_edit', {'id': discount.id}) }}"><i class="fa fa-edit"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-info" href="{{ path('app_admin_discount_new') }}">Créer une nouvelle réduction</a>
{% endblock %}
