{% extends 'base.html.twig' %}

{% block title %}Discount{% endblock %}

{% block body %}
    <h1>Discount</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ discount.id }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ discount.type }}</td>
            </tr>
            <tr>
                <th>Validité</th>
                <td>{{ discount.validity ? discount.validity|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ discount.description }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_admin_discount_index') }}">Retourner à la liste</a>

    <a href="{{ path('app_admin_discount_edit', {'id': discount.id}) }}">Modifier</a>

    {{ include('admin/discount/_delete_form.html.twig') }}
{% endblock %}
